fastapi==0.116.1
uvicorn==0.35.0
jinja2==3.1.6
python-multipart==0.0.20

transformers==4.53.3
torch==2.7.1
accelerate==1.8.1
sentencepiece==0.2.0

psycopg2-binary==2.9.10

huggingface-hub==0.33.4
safetensors==0.5.3

faster-whisper==1.1.1
piper-tts
uvicorn[standard]
twilio
sarvamai==0.1.28